<pre><h2>Initial value</h2><pre style='border:1px solid #DDD'>DEBUG: line: 48 file: C:\Data\Websites\xampp\htdocs\experiment\eav_model\index.php
unique id: 2
<b>created   </b> => 2012-10-26 21:25:59
<b>user_id   </b> => 2
<b>naam      </b> => Djurre1
</pre><h2>Add tag test</h2><pre style='border:1px solid #DDD'>DEBUG: line: 54 file: C:\Data\Websites\xampp\htdocs\experiment\eav_model\index.php
unique id: 2
<b>created   </b> => 2012-10-26 21:25:59
<b>user_id   </b> => 2
<b>naam      </b> => Djurre1
<b>test      </b> => lol
</pre><h2>remove tag test</h2>C:\Data\Websites\xampp\htdocs\experiment\eav_model\index.php => 0.011697053909302<br/><pre style='border:1px solid #DDD'>DEBUG: line: 61 file: C:\Data\Websites\xampp\htdocs\experiment\eav_model\index.php
unique id: 2
<b>created   </b> => 2012-10-26 21:25:59
<b>user_id   </b> => 2
<b>naam      </b> => Djurre1
</pre>C:\Data\Websites\xampp\htdocs\experiment\eav_model\index.php => 0.00040388107299805<br/><h2>Get more than two records</h2>2<pre style='border:1px solid #DDD'>DEBUG: line: 68 file: C:\Data\Websites\xampp\htdocs\experiment\eav_model\index.php
unique id: 4
<b>created   </b> => 2012-10-26 21:25:59
<b>user_id   </b> => 5
<b>naam      </b> => Djurre3
</pre><pre style='border:1px solid #DDD'>DEBUG: line: 69 file: C:\Data\Websites\xampp\htdocs\experiment\eav_model\index.php
unique id: 1004
<a href='Javascript:var e = document.getElementById("debugtostr1351372864.7405");e.style.display = e.style.display =="" ? "none" :"";'>Show/Hide Data</a>
			<div style='display:none' id='debugtostr1351372864.7405'><b>created   </b> => 2012-10-26 21:26:02
<b>user_id   </b> => 5
<b>naam      </b> => Djurre3
<b>naam0     </b> => a3000
<b>naam1     </b> => a3001
<b>naam2     </b> => a3002
<b>naam3     </b> => a3003
<b>naam4     </b> => a3004
<b>naam5     </b> => a3005
<b>naam6     </b> => a3006
<b>naam7     </b> => a3007
<b>naam8     </b> => a3008
<b>naam9     </b> => a3009
<b>naam10    </b> => a3010
<b>naam11    </b> => a3011
<b>naam12    </b> => a3012
<b>naam13    </b> => a3013
<b>naam14    </b> => a3014
<b>naam15    </b> => a3015
<b>naam16    </b> => a3016
<b>naam17    </b> => a3017
<b>naam18    </b> => a3018
<b>naam19    </b> => a3019
<b>naam20    </b> => a3020
<b>naam21    </b> => a3021
<b>naam22    </b> => a3022
<b>naam23    </b> => a3023
<b>naam24    </b> => a3024
<b>naam25    </b> => a3025
<b>naam26    </b> => a3026
<b>naam27    </b> => a3027
<b>naam28    </b> => a3028
<b>naam29    </b> => a3029
<b>naam30    </b> => a3030
<b>naam31    </b> => a3031
<b>naam32    </b> => a3032
<b>naam33    </b> => a3033
<b>naam34    </b> => a3034
<b>naam35    </b> => a3035
<b>naam36    </b> => a3036
<b>naam37    </b> => a3037
<b>naam38    </b> => a3038
<b>naam39    </b> => a3039
<b>naam40    </b> => a3040
<b>naam41    </b> => a3041
<b>naam42    </b> => a3042
<b>naam43    </b> => a3043
<b>naam44    </b> => a3044
<b>naam45    </b> => a3045
<b>naam46    </b> => a3046
<b>naam47    </b> => a3047
<b>naam48    </b> => a3048
<b>naam49    </b> => a3049
</div></pre><h2>Clone object</h2><pre style='border:1px solid #DDD'>DEBUG: line: 72 file: C:\Data\Websites\xampp\htdocs\experiment\eav_model\index.php
unique id: {First needs to be stored}
<a href='Javascript:var e = document.getElementById("debugtostr1351372864.7406");e.style.display = e.style.display =="" ? "none" :"";'>Show/Hide Data</a>
			<div style='display:none' id='debugtostr1351372864.7406'><b>created   </b> => 2012-10-26 21:26:02(insert)
<b>user_id   </b> => 5(insert)
<b>naam      </b> => Djurre3(insert)
<b>naam0     </b> => a3000(insert)
<b>naam1     </b> => a3001(insert)
<b>naam2     </b> => a3002(insert)
<b>naam3     </b> => a3003(insert)
<b>naam4     </b> => a3004(insert)
<b>naam5     </b> => a3005(insert)
<b>naam6     </b> => a3006(insert)
<b>naam7     </b> => a3007(insert)
<b>naam8     </b> => a3008(insert)
<b>naam9     </b> => a3009(insert)
<b>naam10    </b> => a3010(insert)
<b>naam11    </b> => a3011(insert)
<b>naam12    </b> => a3012(insert)
<b>naam13    </b> => a3013(insert)
<b>naam14    </b> => a3014(insert)
<b>naam15    </b> => a3015(insert)
<b>naam16    </b> => a3016(insert)
<b>naam17    </b> => a3017(insert)
<b>naam18    </b> => a3018(insert)
<b>naam19    </b> => a3019(insert)
<b>naam20    </b> => a3020(insert)
<b>naam21    </b> => a3021(insert)
<b>naam22    </b> => a3022(insert)
<b>naam23    </b> => a3023(insert)
<b>naam24    </b> => a3024(insert)
<b>naam25    </b> => a3025(insert)
<b>naam26    </b> => a3026(insert)
<b>naam27    </b> => a3027(insert)
<b>naam28    </b> => a3028(insert)
<b>naam29    </b> => a3029(insert)
<b>naam30    </b> => a3030(insert)
<b>naam31    </b> => a3031(insert)
<b>naam32    </b> => a3032(insert)
<b>naam33    </b> => a3033(insert)
<b>naam34    </b> => a3034(insert)
<b>naam35    </b> => a3035(insert)
<b>naam36    </b> => a3036(insert)
<b>naam37    </b> => a3037(insert)
<b>naam38    </b> => a3038(insert)
<b>naam39    </b> => a3039(insert)
<b>naam40    </b> => a3040(insert)
<b>naam41    </b> => a3041(insert)
<b>naam42    </b> => a3042(insert)
<b>naam43    </b> => a3043(insert)
<b>naam44    </b> => a3044(insert)
<b>naam45    </b> => a3045(insert)
<b>naam46    </b> => a3046(insert)
<b>naam47    </b> => a3047(insert)
<b>naam48    </b> => a3048(insert)
<b>naam49    </b> => a3049(insert)
</div></pre>C:\Data\Websites\xampp\htdocs\experiment\eav_model\index.php => 0.0019810199737549<br/><h2>Get no record</h2>array(0) {
}
C:\Data\Websites\xampp\htdocs\experiment\eav_model\index.php => 0.00057697296142578<br/><pre>DEBUG SYSTEM EAV_MODEL (3 messages)
DEBUG: line: 88 file: C:\Data\Websites\xampp\htdocs\experiment\eav_model\eav_model.php
--MSG: <b>Edited record with entityid 2</b>
DEBUG: line: 88 file: C:\Data\Websites\xampp\htdocs\experiment\eav_model\eav_model.php
--MSG: <b>Edited record with entityid 2</b>
DEBUG: line: 230 file: C:\Data\Websites\xampp\htdocs\experiment\eav_model\eav_model.php
--MSG: <b>There are no results found for value </b>
DATA:Array
(
    [naam12] => 1012
)

</pre>